html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
  background: url('/imgs/WILLBG90.png') no-repeat center center fixed;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* DOM HACK to fix padding issue on footer */
footer.page-footer {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

footer > .content {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 0rem !important;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 99%;
    padding: 0 1.5rem !important;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 98%;
    padding: 0 1.5rem !important
  }
}

.side-nav a {color: #FFF !important;}
.side-nav {background-color: #505050 !important;}

#sidenav-overlay {display:none !important;}

/* DOM HACK for restricted scrolling dynamic containers */

.primary-viewport{
  padding-right: 10px;
}

.outer-container {
  position: relative;
  overflow: hidden;
}

.inner-container {
  overflow-x: hidden;
  overflow-y: auto;
}

/* DOM HACK to fix scroll bar on desktop tab buttons */
.tabs {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

/* DOM HACK to fix tab scaling on iPhone5 Sized (tiny) device displays */
.tabs .tab {
  min-width: 60px !important;  
}

/* DOM HACK to fix toast container stack order */

#toast-container {
  min-width: 100% !important;
  bottom: 0% !important;
  z-index: 10 !important;
}

.toast {
  min-height: 50px !important;
  background-color: #2F2359 !important;
  color: #FFFFFF !important;
  padding: 10px 5% !important;
}

/* More DOM Hacking to interrupt toast container media query sizing */

@media only screen and (max-width: 992px) and (min-width: 601px) {

  .toast {
    width: 100% !important;
    padding: 10px 9% !important;
  }

  #toast-container {
    left:auto !important;
    z-index: 10 !important;
  }

}

@media only screen and (min-width: 993px){

  .toast {
    width: 100% !important;
    padding: 10px 13% !important;
  }

  #toast-container {
    top: auto !important;
    right: auto !important;
    left: auto !important;
    z-index: 10 !important;
  }

}

.container .row {
  margin-left: auto !important;
  margin-right: auto !important;
}

.err-msg {
  color:red ;
  font-weight: bold;
}

/* DOM HACK - Over Ride default floating button color.. slightly darker gradient */
.btn-floating {
  background-color: #691321 !important;
}

/* DOM HACK - Fix reCapcha width scale problem for tiny devices */

#g-recaptcha {
  transform:scale(0.85);
  -webkit-transform:scale(0.85);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}