<template name="follow">
  <div class="text-center">
    <h5>Follow Us</h5>
    <p>Stay in the loop! Serious Bears uses "highly sophisticated automation" via Facebook, Twitter and Google+ as a notification system for alerts when streaming events and scheduled broadcasts occour. Pick a service below and follow us to be alerted the moment we go live.</p>
    <div class="section center-align">
      <h5>
        <b>Primary Alerts</b>
      </h5>
      <div class="row">
        <a href="https://twitter.com/seriousbears" target="_blank" class="waves-effect waves-light btn-large"><i class="fa fa-twitter"></i> Twitter</a>
      </div>
      <div class="row">
        <a href="https://www.facebook.com/SeriousBears/" target="_blank" class="waves-effect waves-light btn-large"><i class="fa fa-facebook"></i> Facebook</a>
      </div>
      <div class="row">
        <a href="https://plus.google.com/+SeriousBearsNetRadio" target="_blank" class="waves-effect waves-light btn-large"><i class="fa fa-google-plus"></i> Google+</a>
      </div>
    </div>
    <div class="section center-align">
      <h5>
        <b>Video Only</b>
      </h5>
      <div class="row">
        <a href="https://www.twitch.tv/seriousbears" target="_blank" class="waves-effect waves-light btn-large"><i class="fa fa-twitch"></i> Twitch.tv</a>
      </div>
    </div>
  </div>
</template>