<template name="home">
  <div class="container">
    <div class="text-center">
      <div class="row">
        <div class="col s12 z-depth-1">
          <ul class="tabs">
            <li class="tab col s3"><a href="/">Live</a></li>
            <li class="tab col s3"><a class="active" href="/about">About</a></li>
            <li class="tab col s3 disabled"><a href="/">Register</a></li>
          </ul>
        </div>
      </div>
      <h1>Serious Dev</h1>
      <p>
        Welcome to the Serious Bears Development Instance. The future of Bears is here.    
      </p>
      <p>
        2016, Year of the Bear. #woo
      </p>
    </div>
  </div>
</template>
