<template name="home">

  <audio id="bearstream" preload="none">
    <source src="http://radio.seriousbears.net:8000/seriousbears.mp3" type="audio/mpeg" />
  </audio>

  <div class="container">
    <div class="text-center">

      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a id="livetab" class="active" href="#live">Live</a></li>
          <li class="tab col s3"><a id="shouttab" href="#shout">Shout</a></li>
          <li class="tab col s3"><a id="infotab" href="#info">Info</a></li>
          <li class="tab col s3"><a id="followtab" href="#follow">Follow</a></li>
          <!-- <li class="tab col s3 disabled"><a href="#login">Login</a></li> -->
        </ul>
      </div>

      <div id="live" class="col s3">
        <!-- this encapsulation pattern is necessary for hidden viewport scrolling without display bar -->
        <div class="outer-container">
          <div class="inner-container">
            <div class="primary-viewport">
              <h5>Live Feed</h5>
              <p><i>Live feed of #seriousbears on irc.quakenet.org. See our "INFO" page for more details. </i></p>
              {{> bearchat}}
            </div>
          </div>
        </div>
      </div>

      <div id="shout" class="col s3">
        <!-- this encapsulation pattern is necessary for hidden viewport scrolling without display bar -->
        <div class="outer-container">
          <div class="inner-container">
            <div class="primary-viewport">
              {{> shout}}
            </div>
          </div>
        </div>
      </div>

      <div id="info" class="col s3">
        <!-- this encapsulation pattern is necessary for hidden viewport scrolling without display bar -->
        <div class="outer-container">
          <div class="inner-container">
            <div class="primary-viewport">
              {{> info}}
            </div>
          </div>
        </div>
      </div>

      <div id="follow" class="col s3">
        <!-- this encapsulation pattern is necessary for hidden viewport scrolling without display bar -->
        <div class="outer-container">
          <div class="inner-container">
            <div class="primary-viewport">
              {{> follow}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 40px; right: 30px;">
    <a class="btn-floating btn-large waves-effect waves-light z-depth-4" id="btn_bearstream">
      <i id="btn_icon" class="fa fa-volume-up"></i> fa-2x
      <!--<i id="btn_icon" class="fa fa-refresh fa-spin"></i> fa-2x-->
      <!--<i id="btn_icon" class="fa fa-pause"></i> fa-2x-->
    </a>
  </div>

</template>