<template name="home">
  <div class="container">
    <div class="text-center">
      <div class="row">

        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#live">Live</a></li>
            <li class="tab col s3"><a href="#info">Info</a></li>
            <li class="tab col s3"><a href="#shout">Shout</a></li>
            <li class="tab col s3 disabled"><a href="#login">Login</a></li>
          </ul>
        </div>

        <div id="live" class="col s12">
          <!--<center><h5><b>#seriousbears</b> @ irc.quakenet.org</h5></center>-->
          {{> bearchat}}
        </div>

        <div id="info" class="col s12">
          {{> info}}
        </div>

        <div id="shout" class="col s12">
          {{> shout}}
        </div>

        <div id="login" class="col s12">
          LOGIN PAGE PLACEHOLDER
        </div>

      </div>
    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 40px; right: 30px;">
    <a class="btn-floating btn-large">
      <i class="fa fa-volume-up fa-2x"></i> fa-2x
    </a>
  </div>

</template>