<template name="info">   
  <div class="text-center">
    <div class="section">
      <h5>Getting Connected</h5>
      <p>Here goes some instrucitonal stuff...</p>
      <blockquote>
        This is an example quotation that uses the blockquote tag.
      </blockquote>
      <p>Here goes eveb more instrucitonal stuff...</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>External Audio Player</h5>
      <p>Here goes some more instrucitonal stuff...</p>
      <blockquote>
        This is an example quotation that uses the blockquote tag.
      </blockquote>
      <p>Here goes eveb more instrucitonal stuff...</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>About Serious Bears</h5>
      <p>Here goes eveb more instrucitonal stuff...</p>
      <blockquote>
        This is an example quotation that uses the blockquote tag.
      </blockquote>
      <p>Here goes eveb more instrucitonal stuff...</p>
    </div>
  </div>

</template>