<template name="info">   
  <div class="text-center">
    <div class="section">
      <h5>Connect With Us</h5>
      <p>We use IRC to power our chat. Already an IRC user? Find us in #seriousbears on QuakeNet. Not sure what to do? Click below to connect with us!</p>
      <blockquote>
        Web Chat
      </blockquote>
      <b>Kiwi-powered Web Chat</b>
      <p>
        A bare-bones free web chat that works great on mobile and desktop! Probably the easiest way to get in chat and start interacting.
      </p>
      <ol>
        <li>Point your browser to http://chat.seriousbears.net/</li>
        <li>Enter a nickname and put #seriousbears in the channels field</li>
        <li>Press Join Chat!</li>
      </ol>
      <b>IRCCloud</b>
      <p>IRCCloud offers free web-based chat, as well as Android and IRC apps. For $5 per month, you get permanent connectivity and other neat features. Several of the Bears use IRCCloud and highly recommend it! Check it out at http://www.irccloud.com.</p>
      <p>Once you’re logged in, you’ll be prompted to enter a hostname. Start typing QuakeNet and select it from the list. Make sure your nickname is what you want, enter #seriousbears into the channel list, and click “Join Network”</p>
    </div>

    <div class="divider"></div>

    <div class="section">
      <h5>About The Bears</h5>
      <p>Serious Bears was founded in 2012. We’re a music-oriented bear-themed Internet collective dedicated to putting bass in your face and then mauling it. Most of the Bears hail from the USA, but the worldwide Bear massive is growing. </p>

      <p>Here goes eveb more instrucitonal stuff...</p>
    </div>

  </div>

</template>