<template name="shout">

  <div class="text-center">

    <div class="section">
      <h5>How can we help you?</h5>
      <p>Get in touch quickly by using one of our Bear-bones communication services below!</p>
    </div>

    <div class="section">
      <div class="card small">
        <div class="card-image">
          <img src="/imgs/screamingbear.png">
          <span class="card-title">SHOUTOUT</span>
        </div>
        <div class="card-content">
          <p>Got beef? Special dedications? Senseless trolling?</p>
        </div>
        <div class="card-action">
          <a href="/">REQUEST A SHOUTOUT</a>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="card small">
        <div class="card-image">
          <img src="/imgs/handraisebear.PNG">
          <span class="card-title">REQUEST</span>
        </div>
        <div class="card-content">
          <p>Favorite Chewn? Favorite Old Mix? Risk Astley?</p>
        </div>
        <div class="card-action">
          <a href="/">REQUEST A SONG</a>
        </div>
      </div>
    </div>

  </div>

</template>
