<template name="shout">
  <h5>Say Something</h5>
  <p><i>Fill out the fields below and press submit!</i></p>
  <form id="shoutform" class="validate col s12">

    <div class="row">

      <div class="input-field col s6">
        <input name="bear_name" id="bear_name" type="text" data-min=6 data-max=16 data-alphanumeric data-onblur data-required />
        <span class='err-msg'></span>
        <label for="bear_name">Bear Name</label>
      </div>

      <div class="input-field col s6">
        <div class="form-group">
          <select name="bear_category" id="bear_category" data-onblur data-required>
            <option value="" disabled selected>Select One</option>
            <option value="shout">Shoutout</option>
            <option value="request">Request</option>
            <option value="troll">Senseless Trolling</option>
          </select>
          <span class='err-msg'></span>
        </div>
      </div>  

    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea name="bear_message" id="bear_message" class="materialize-textarea" data-min=6 data-max=200 data-onblur data-required></textarea>
        <span class='err-msg'></span>
        <label for="bear_message">Message</label>
      </div>
    </div>
    <div id="g-recaptcha">
      {{> reCAPTCHA}}
    </div>
    <div class="section">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>

</template>